body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(169,221,218);
    background: linear-gradient(90deg, rgba(169,221,218,1) 0%, rgba(181,232,229,1) 16%, rgba(92,185,204,1) 100%); 
    color: #333;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0); /* transparent  */
    color: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px); /* Optional: Adds a blur effect behind the header */
}

header h1 {
    margin: 0;
    cursor: pointer
}

header a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: auto;
    padding-left: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#install, #documentation {
    background: rgba(255, 255, 255, 0.8);
    padding: 2em;
    margin: 1em 0;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#install h2, #documentation h2 {
    margin-top: 0;
}

#install-btn {
    background-color: #4CAF50;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#install-btn:hover {
    background-color: #45a049;
}

#search-bar {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#docs-content h3 {
    margin-top: 0;
}
